In [2]:
from google.cloud import bigquery
from google.oauth2 import service_account
import os

In [3]:
# Path to your service account key file
# key_path = "sound-berm-404412-59f487beadb5.json"
key_path = "C:/Users/irfan/Downloads/binaracademyirfantest-3d4528a2c4ba.json"

## 1. Access BQ dengan google client

In [4]:
# Set the environment variable to the path of the service account key file
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = key_path

In [7]:
# save project id from binar
project_id = 'binaracademyirfantest'

In [9]:
# Initialize a BigQuery client
# mirip engine untuk koneksi ke postgre
client = bigquery.Client(project=project_id)

In [10]:
# create query and execute query
q = """
    SELECT *
    FROM latihan_binar_wave3.ecommerce_clothing
    """

df = client.query(q).to_dataframe()

c:\Users\irfan\AppData\Local\Programs\Python\Python38\lib\site-packages\google\cloud\bigquery\table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [11]:
df.head()

,order_id,order_date,sku,color,size,unitPrice,quantity,REVENUE,temp_value
0,110,2022-07-02 00:33:00+00:00,29,920 Navy blue,S,227,1,227,11044744.022916666729920 Navy blueS2271227
1,9,2022-06-11 22:53:00+00:00,239,Black,a.,258,1,258,944723.9534722222239Blacka. 2581258
2,18,2022-06-15 13:36:00+00:00,77,B,None,258,1,258,1844727.566666666777B2581258
3,18,2022-06-15 13:36:00+00:00,77,C,None,258,1,258,1844727.566666666777C2581258
4,18,2022-06-15 13:36:00+00:00,77,D,None,258,1,258,1844727.566666666777D2581258

## 2. Access BQ dengan pandas GBQ

In [13]:
import pandas_gbq as pbq

credentials = service_account.Credentials.from_service_account_file(
    key_path
)

project_id = "binaracademyirfantest"

In [14]:
q = """
    SELECT *
    FROM latihan_binar_wave3.ecommerce_clothing
    """

df = pbq.read_gbq(q, project_id=project_id , credentials=credentials)

Downloading: 100%|██████████|

In [15]:
df.head()

,order_id,order_date,sku,color,size,unitPrice,quantity,REVENUE,temp_value
0,110,2022-07-02 00:33:00+00:00,29,920 Navy blue,S,227,1,227,11044744.022916666729920 Navy blueS2271227
1,9,2022-06-11 22:53:00+00:00,239,Black,a.,258,1,258,944723.9534722222239Blacka. 2581258
2,18,2022-06-15 13:36:00+00:00,77,B,None,258,1,258,1844727.566666666777B2581258
3,18,2022-06-15 13:36:00+00:00,77,C,None,258,1,258,1844727.566666666777C2581258
4,18,2022-06-15 13:36:00+00:00,77,D,None,258,1,258,1844727.566666666777D2581258

In [19]:
filt_df = df[df['REVENUE']>300]

In [20]:
destination_table = 'latihan_binar_wave3.filtered_order'

pbq.to_gbq(filt_df, destination_table, project_id=project_id, if_exists='replace', credentials=credentials)

100%|██████████| 1/1 [00:00<?, ?it/s]